body { background: #F0F0F0 !important; }

.navbar{
    background-color: #001250;
}

.navbar-brand{
    width: 18% !important;
    margin-left: 20px;
}

.nav-mail{
    float: right;
    margin-left: auto;
}

.nav-phone{
    float: right;
}

.navbar-brand{
    width: max-content;
}

.nav-profile{
    float: right;
}

.card{
    margin-left: 48px;
    margin-top: 40px;
    border-radius: 15px 15px 15px 15px !important;
}

.btn-about{
    background-color: #001250 !important;
    color: white !important;
    margin-top: 3%;
    border-radius: 15px 15px 15px 15px !important;
}

.form-control{
    width: 50% !important;
    margin-left: 20%;
}

.accountimage{
    width: 50% !important;
}

.card-img-top{
    width: 20% !important;
    margin-left: 75%;
    margin-top: 6%;
}

.card-title{
    margin-top: -26%;
}

.card-text{
    margin-top: 3%;
}

.btnabout{
    background-color: #001250;
    color: white;
}

.footerdwp{
    background-color: #001250;
    color: white;
}

.form-control{
    background-color: #EEEEEE;
    border-radius: 15px 15px 15px 15px !important;
    margin-top: -3.5%;
}

.btnproducts{
    background-color: #001250 !important;
    color: white !important;
    border-radius: 15px 15px 15px 15px !important;
}

.cardsstyle{
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.btnproducts1{
    background-color: #001250 !important;
    color: white !important;
    border-radius: 15px 15px 15px 15px !important;
    margin-left: 28%;
    margin-top: -3.5%;
}

.tulis1{
    padding-top: 23%;
    margin-left: -45%;
}

.tulis2{
    padding-top: 0%;
    margin-left: -45%;
}

.gambar2img{
    width: 52%;
}

.gambar3img{
    width: 52%;
    margin-left: 45%;
}

.tulis3{
    padding-top: 20%;
    text-align: right;
    margin-right: -50%;
}

.tulis4{
    padding-top: 0%;
    text-align: right;
    margin-right: -50%;
}

.gambar4img{
    width: 52%;
}

.tulis5{
    padding-top: 20%;
    margin-left: -45%;
}

.tulis6{
    padding-top: 0%;
    margin-left: -45%;
}

.gambardwp {
    width: 90%;
    padding: auto;
}

.aboutusimg{
    width: 70%;
}

.tulisabout{
    padding-top: 18%;
    margin-left: -40%;
}

.tuliswhere{
    padding-top: 1.5%;
    padding-left: auto;
    
}

.tulisloc{
    padding-top: 5%;
    padding-left: auto;
}

.btn-contactabout{
    background-color: #001250 !important;
    color: white !important;
    margin-top: 3%;
    margin-left: 45%;
    border-radius: 5px 5px 5px 5px !important;
}

.footerdwpabout{
    background-color: #001250;
    color: white;
    margin-top: 7%;
}

.form-ourprducts{
    width: 90% !important;
    height: 9% !important;
    border-radius: 15px 15px 15px 15px !important;
}

.cardourproduct{
    margin-left: 48px;
    border-radius: 15px 15px 15px 15px !important;
    background-color: white;
}

.tulisvinylcard{
    margin-left: 50%;
}

.tulisbastsale{
    padding-top: 15%;
}

.gambar7img{
    width:100%;
    margin-left: -2%;
}

.card1{
    margin-top: 40px;
    padding-left: 4%;
    border-radius: 15px 15px 15px 15px !important;
    background-color: white !important;
}

.cardsign{
    background-color: #001250;
    border-radius: 15px 15px 15px 15px !important;
    padding-left: 0%;
    margin-left: -1.5%;
    margin-top: -5.6%;
    margin-bottom: -10%;
}

.welcometext{
    color: white;
}

.btnsignin{
    background-color: white !important;
    color: black !important;
    margin-left: 40%;
}

.form-control-emailsign{
    width: 420% !important;
    height: 150% !important;
    background-color: #EEEEEE;
    border-radius: 5px 5px 5px 5px !important;
}

.form-control-pwsign{
    width: 90% !important;
    height: 150% !important;
    background-color: white;
    border-radius: 5px 5px 5px 5px !important;
}

.form-control-product{
    background-color: white;
    border-radius: 5px 5px 5px 5px !important;
    width: 220% !important;
    height: 150% !important;
}

span.num{
	border: black;
	border-style: solid ;
	border-width: auto;
	border-radius : 5px 5px 5px 5px;
}

span.currency{
	font-size: 30px;
}

.tulisjd{
    font-family: 'inter';
    font-weight: bold;
    font-size: x-large;
}

.form-control-detail{
    width: 90% !important;
    height: 150% !important;
    background-color: white;
    border-radius: 5px 5px 5px 5px !important;
    margin-left: 5%;
}


